<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EndpointChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <EndpointChecker.Properties.Settings>
      <setting name="HasSavedFormWindowSizeAndPosition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FormWindow_Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FormWindow_Size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FormWindow_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="HasSavedListViewColumnsWidthAndOrder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisabledItemsList" serializeAs="String">
        <value />
      </setting>
      <setting name="Config_EnableAutomaticRefresh" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Config_EnableContinuousRefresh" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Config_AutoAdjustRefreshInterval" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Config_AutomaticRefreshIntervalSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Config_HTTP_RequestTimeoutSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Config_FTP_RequestTimeoutSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Config_EnableTrayNotificationsOnError" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Config_AllowAutoRedirect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Config_ValidateSSLCertificate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Config_EndpointsStatusExportDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="Config_ParallelThreadsCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Config_ResolveNetworkShares" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Config_ExportEndpointsStatus_XLSX" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HasSavedConfiguration" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ListView_ColWidth_Service" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_Protocol" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_Port" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_Endpoint" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_IPAddress" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_ResponseTime" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_Code" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_Message" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_PingTime" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_Server" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_UserName" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_NetworkShares" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_DNSName" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_Service" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_Protocol" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_Port" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_Endpoint" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_IPAddress" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_ResponseTime" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_Code" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_Message" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_PingTime" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_Server" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_UserName" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_NetworkShares" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_DNSName" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Config_SaveResponse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Config_ResolvePageMetaInfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Config_MaximumEndpointReferencesCount" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="FormWindow_Hidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ListView_ColWidth_ContentType" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_ContentType" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Config_PingTimeoutSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Config_ValidationMethod" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ListView_ColWidth_MACAddress" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_MACAddress" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_ContentLenght" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_ContentLenght" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Config_ExportEndpointsStatus_HTML" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Config_ExportEndpointsStatus_JSON" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Config_ExportEndpointsStatus_XML" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ListView_ColWidth_LastSeenOnline" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_LastSeenOnline" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_DisplayIndex_Expires" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_Expires" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Config_RemoveURLParameters" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Config_ResolvePageLinks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ListView_DisplayIndex_ETag" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListView_ColWidth_ETag" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Config_Executable_VNCViewer" serializeAs="String">
        <value />
      </setting>
      <setting name="Config_Executable_Putty" serializeAs="String">
        <value />
      </setting>
      <setting name="Config_HTTP_UserAgent" serializeAs="String">
        <value>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36</value>
      </setting>
      <setting name="Config_HTTP_SaveResponse_MaxLenght_Bytes" serializeAs="String">
        <value>5242880</value>
      </setting>
      <setting name="GoogleMaps_API_Key" serializeAs="String">
        <value>AIzaSyBerCYP2d7XxMWy9DMHlS09BZKFh5NKCas</value>
      </setting>
      <setting name="GoogleMaps_API_ZoomFactor" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="VirusTotal_API_Key" serializeAs="String">
        <value>8ce0dda3e2e732fb4c6fc947a03dd892acc0993da101e54ab03589413598002b</value>
      </setting>
      <setting name="Config_HTTP_Sec_CH_UserAgent" serializeAs="String">
        <value>"Chromium";v="104", " Not A;Brand";v="99", "Google Chrome";v="104"</value>
      </setting>
      <setting name="Config_ScanOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdate_SkipVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="SpeedTest_ServerScope" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Config_ShowSplashScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ListView_Filter" serializeAs="String">
        <value />
      </setting>
      <setting name="Config_PingHost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Config_DNSAndMACLookupOnHost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdate_AutoUpdateInFuture" serializeAs="String">
        <value>False</value>
      </setting>
    </EndpointChecker.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IPAddressRange" publicKeyToken="578e3c3d17e7c751" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.0" newVersion="2.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.2.0" newVersion="8.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
